/******************************************************************
 Site Name: 
 Author:
 
 Stylesheet: Variables
 
 Here is where we declare all our variables like colors, fonts,
 base values, and defaults. We want to make sure this file ONLY
 contains variables that way our files don't get all messy.
 No one likes a mess.
 
 ******************************************************************/

// FONTS
// --------------------------------------

@import url('https://use.typekit.net/mgf4gkh.css');

@font-face {
	font-family: 'Dweezil';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/Dweezil-Regular.woff'); /* IE9 Compat Modes */
}

// BREAKPOINTS
// --------------------------------------

$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1440px;
$screen-3xl: 1920px;

:root {
	// colours
	--font-headline: 'neue-haas-grotesk-display', sans-serif;
	--font-body: 'neue-haas-grotesk-display', sans-serif;
	--font-cursive: 'Dweezil', serif;
	--type-bold: 700;
	--type-sembold: 600;
	--type-mid: 500;
	--type-thin: 300;
	--type-super-thin: 200;
	--color-light-grey: #f0f0f0;
	--color-dark-grey: #363636;
	--color-grey: #e6e6e6;
	--color-black: rgb(12, 12, 12);
	--color-background-black: rgb(18, 18, 18);
	--color-white: #fffcf2;
	--color-real-white: #fffcf2;
	--color-blue: #0056ac;
	--color-red: #ac0034;
	--color-dark-blue: #00458a;
	--color-grid-columns: #00c4f12b;
	--color-grid-border: #15dfff8c;
	--cursor-stroke: none;
	--cursor-fill: #757575;
	--cursor-stroke-width: 1px;
	--black-shadow: #00000026;
	--border-radius: 1rem;
}

.gray {
	background-color: var(--color-light-grey);
}

.white {
	color: var(--color-white);
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	span {
		color: var(--color-white);
	}
}
